<div class="row">
	<div class="col-lg-12">
		<div class="page-header"><h1>brainfuck</h1></div>
  	</div>
</div>


<div class="row">

	<div class="col-lg-12">
		<h2>BrainFAQ</h2>
			<blockquote>
				<p>Brainfuck is an extremely minimal Turing-complete programming laguage with 8 commands.</p>
				<p>Try a command here</p>
				<p><small>Does it exists, really? - Yes!</small></p>
			</blockquote>
			<p>
				<ul>
					<li>+ : Increments the value at the current cell by one.</li>
					<li>- : Decrements the value at the current cell by one.</li>
					<li>> : Moves the data pointer to the next cell (cell on the right).</li>
					<li>\< : Moves the data pointer to the previous cell (cell on the left).</li>
					<li>. : Prints the ASCII value at the current cell (i.e. 65 = 'A').</li>
					<li>, : Reads a single input character into the current cell.</li>
					<li>[ : If the value at the current cell is zero, skips to the corresponding ] .
    				Otherwise, move to the next instruction.</li>
					<li>] : If the value at the current cell is zero, move to the next instruction.
    				Otherwise, move backwards in the instructions to the corresponding [ .</li>
				</ul>
			</p>
	</div>
</div>
	<div class="row">

	<div class="col-lg-12">
		<h2>Write command</h2>
		<div class="command col-lg-12"></div>
	</div>
</div>

<div class="row">
<span class="messages"></span>
</div>